@import "partials/mobile_base";

body {
  @include helvetica;
}
#type_wrapper {
  width: 320px;
  float: right;
}
#chat_data {
  width: 320px;
  float: right;
}

/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  
  
  
  
}