@import "partials/base";

body {
  @include helvetica; 
  border-top: 3px solid #222;
  line-height: 20px;
/*  background: image-url("bgslice.png");*/
}
a {
  color: $blue;
  text-decoration: none;
}
#intro {
  h1 {
    font-size: 1.5em;
    margin: 10px 0;
  }
}

#container {
 @include container;
 margin-top: 20px;
}

#type_wrapper {
  @include clearfix;
  margin: 20px 0;
  outline: none;
  position: relative;
  input {
    font-size: 14px;
    outline: none;
    padding: 10px;
    @include border-radius(3px);
    &[type="text"] {
      border: 2px solid #ddd;
      @include column(19);
      @include box-shadow(#ddd, 0, 0, 6px, 0, inset);
      &:focus {
        border-color: $blue;
      }
    }
    &[type="submit"] {
      cursor: pointer;
      font-weight: bold;
      border: 1px solid #8abd43;
      padding: 11px 0;
      @include column(4, true);
      @include linear-gradient(color-stops($green, darken($green, 10%)));
      color: #fff;
      text-shadow: 0 -1px 1px darken($green, 30%);
      &:hover {
        @include linear-gradient(color-stops($green, darken($green, 5%)));
      }
      &:active {
        border-color: darken($green, 20%);
        @include box-shadow(darken($green, 30%), 0, 0, 10px, 0, inset);
        @include linear-gradient(color-stops(darken($green, 5%), $green));
      }
    }
  }
  .error {
    display: none;
    top: 12px;
    right: 190px;
    position: absolute;
    color: #f66;
    font-size: 12px;
  }
}
#chat_data {
  li {
    @include clearfix;
    font-size: 14px;
    padding: 10px;
    border-top: 1px solid #eee;
    color: #444;
    &:nth-child(even) {
      background: #f5fafe;
    }
    .byline {
      @include column(4);
      line-height: 14px;

      font-weight: bold;
      font-size: 12px;
      .user_name {
        float:left;
      }
      
      img {
        margin-right: 5px;
      }
      .img_wrapper {
        margin-left: 3px;
        padding: 3px;
        @include box-shadow(#999, 0px, 1px, 3px);
        @include border-radius(3px);
        @include linear-gradient(color-stops(#eee, #fff), bottom);
        width: 30px;
        float: left;
        margin-right: 8px;
        img {
          @include border-radius(3px);
          vertical-align: middle;
        }
      }
      .user_name {
        padding-top: 3px;
        a {
          display: block;
        }
      }
      .login {
        text-decoration: none;
        font-weight: normal;
        color: silver;
        font-size: 11px;
        &:hover {
         color: $blue;
         text-decoration: underline;
        }
      }
    }
    .timestamp {
      float: right;
      @include column(3, true);
      color: silver;
      font-size: 11px;
    }
    .message {
      @include column(16);
      img{
        max-width:200px;
      }
    }

    &:hover {
      .timestamp {
        color: #666;
      }
    }
  }
}