<li>
  <span class='byline'>
		<a href="http://www.twitter.com/{{ twitter_login }}" >
    	<div class="img_wrapper">
				<img src="{{ profile_image_url }}" width="30" height="30" title="{{ name }}">
	    </div>
			<div class="user_name">
					{{ name }}
			</div>
		</a>
  </span>
  <div class='message'>
    {{{ chat_input }}}
  </div>
  <div class='timestamp'>
    {{ time_ago }} ago
  </div>
</li>
