<li>
  <span class='byline'>
    <div class="img_wrapper">
      <img src="{{ profile_image_url }}" width="30" height="30" title="{{ name }}">
    </div>  
    <div class="user_name">
      {{ name }}
      <a href="http://twitter.com/{{ twitter_login }}" target="_blank" class="login">@{{ twitter_login }}</a>
    </div>
  </span>
  <div class='message'>
    {{{ chat_input }}}
  </div>
  <div class='timestamp'>
    {{ time_ago }} ago
  </div>
</li>
