<li>
  <span class='byline'>
    <img src="{{ profile_image_url }}" width="30" height="30" title="{{ name }}">
  </span>
  <div class='message'>
    {{ chat_input }}
  </div>
  <div class='timestamp'>
    {{ time_ago }} ago
  </div>
</li>
